
<section class="page-header">
<p id="notice"><%= notice %></p>
<div style="margin-top:150px"><!-- Typing Animation -->
      <span class="element"></span>
</div>
<div class="col-md-10 col-md-offset-1">
<h1 style="">Listing Tasks</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <!-- <td><%= link_to 'Show', task %></td>-->
        <td><%= task.created_at %> </td>
        <td><%= task.updated_at %> </td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


<h1>New Task</h1>
<%= render 'form' %>
</div>
</section>

<script>
  $(function(){
      $(".element").typed({
        strings: [
          "Hi Guys, The required todo list app", 
          "Go ahead and give it a try",
          "chech out github for source code",
          "<a href = 'https://github.com/harshal2802' target='_blank'> harshal2802</a>"
          ],
        typeSpeed: 20
      });
  });
  </script>